html {
    scroll-behavior: smooth
}
body {
    color: #161616;
}
a {
    color: var(--text-color)
}
.visually-hidden {
    display: none
}
.section-tagline {
    color: var(--color-primary)
}
.card-category {
    color: var(--color-primary)
}
:root {
    --color-primary: #D73953;
    --color-black: #090909;
    --color-white: #FFFFFF;
    --color-light-gray: #f3f3f3;
    --color-dark-gray: #353535;
    --text-color: var(--color-black);
}